name: Prepare

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - develop

jobs:
  prepare:
    uses: SP-Libraries/actions/.github/workflows/code-quality.yml@v0.4.1
    with:
      VERBOSE: true
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
